extend layouts/main-layout.pug

block content
  main.main
    section.section.main-section
      h2.section-title Some error occurred!
      p We're working on fixing this. Sorry for the inconvenience!
