extend layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/home.css")
  
block content
  main.main
    section.section.main-section
      span.user-stats__num #{allUsers}
      h2.section-title users choose our service
    section.section.main-section
      span.schedules-stats__num #{allSchedules}
      h2.section-title schedules successfully planed
      