extend layouts/main-layout.pug
block styles
  link(rel="stylesheet", href="/css/home.css")
block content
  main.main
    section.section.user-stats
      span.user-stats__num #{allUsers.length}
      h2.user-stats__title users choose our service
    section.section.schedules-stats
      span.schedules-stats__num #{allSchedules.length}
      h2.schedules-stats__title schedules successfully planed
      