extend layouts/main-layout.pug
block styles
  link(rel="stylesheet", href="/css/home.css")
block content
  .container
    main.main
      section.section.intro
        h1.intro__title Welcome to our schedule website!
        a.intro__btn.user-icon(href="/users") Show Users
        a.intro__btn.calendar-icon(href="/schedules") Show Schedules
      section.section.user-stats
        span.user-stats__num #{allUsers.length}
        h2.user-stats__title users choose our service
      section.section.schedules-stats
        span.schedules-stats__num #{allSchedules.length}
        h2.schedules-stats__title schedules successfully planed
      section.section.current-date
        h2.current-date__title Today is
        span.current-date__value #{date}
        