<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Schedules website</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header class="main-header">
    <nav class="main-header__nav">
      <ul class="main-header__list">
        <li class="main-header__item"><a href="/">Home</a></li>
        <li class="main-header__item"><a href="/users">Add user</a></li>
        <li class="main-header__item"><a href="/schedules">Add schedule</a></li>
        <li class="main-header__item"><a href="/users/:id">Search user by ID</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <h1 class="title"> Welcome to our schedule website!</h1>
      <a href="/users">Show users</a>
      <a href="/schedules">Show schedules</a>
    </section>
    <section>
      <h2>Add new user</h2>
      <form action="/users" method="POST">
        <label for="user-firstname">First name</label>
        <input type="text" name="user-firstname" id="user-firstname" required>
        <label for="user-lastname">Last name</label>
        <input type="text" name="user-lastname" id="user-lastname" required>
        <label for="user-email">Email</label>
        <input type="email" name="user-email" id="user-email" required>
        <label for="user-password">Password</label>
        <input type="password" name="user-password" id="user-password" required>
        <button type="submit">Add user</button>
      </form>
    </section>
    <section>
      <h2>Add new schedule</h2>
      <form action="/schedules" method="POST"></form>
    </section>
  </main>
</body>
</html>