extend layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/form.css")

block content
  main.main
    section.section.main-section
      h2.section-title Add schedule
      form.schedules-form(action="/schedules" method="POST")
        label.label(for="userID") Selec user
        select.select#userID(name="userID") 
          if allUsers.length > 0
            each user in allUsers
              option(value=user.id) #{user.firstname} #{user.lastname}
          else
            option(value=index) No users in database
        label.label(for="date") Select date
        input.input#date(type="date" name="date")
        label.label(for="startAt") Select starting time
        input.input#startAt(type="time" name="startAt")
        label.label(for="endAt") Select ending time
        input.input#endAt(type="time" name="endAt")
        input.input(type="submit" value="Submit")