extend layouts/main-layout.pug

block content
  .container
     section.add-schedule
        h2.block-title Add schedule
        form.schedules-form(action="/schedules" method="POST")
          label(for="user-id") 
          select#user-id(name="user-id") 
            each user, index in allUsers
              option(value=index) #{user.firstname} #{user.lastname}
          input(type="submit")
        