<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Schedules website</title>
</head>
<body>
  <header>
    <nav class="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Add user</a></li>
        <li><a href="/schedules">Add schedule</a></li>
        <li><a href="/users/:id">Search user by ID</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <h1>Users</h1>
      <p>List of all the users...</p>
    </section>
  </main>
</body>
</html>