extend layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/users.css")

block content
  main.main
    section.section.user-shedule
      if userSchedules.length > 0
        h3 #{firstname} #{lastname}
        each user in userSchedules
          p #{user.day} 
      else 
       p No schedules for this user in database
    