extend layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/users.css")

block content
  main.main
    section.section.main-section
     img(src="/img/user-circle.png", alt="Profile image")
     h3 #{user.firstname} #{user.lastname}