doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Users
  body 
    header Header
    main
      .container
        h1 Users List
        ul
          each user in allUsers
            li
              img(src="https://img.icons8.com/fluency/48/000000/user-male-circle.png", alt="User profile image")
              h2 #{user.firstname} #{user.lastname}
              a(href="") Check user details