.user-stats__num,
.schedules-stats__num {
  display: block;
  position: relative;
  font-size: 5rem;
  font-weight: 400;
}

.user-stats__title,
.schedules-stats__title {
  font-weight: 400;
  font-size: 1.2rem;
}

.user-stats__num::before,
.schedules-stats__num::before {
  position: absolute;
  width: 62px;
  height: 62px;
  left: 4rem;
}

.user-stats__num::before {
  content: url('../img/user-icon.svg');
}

.schedules-stats__num::before {
  content: url('../img/calendar-icon.svg');
}
