.schedules__list,
.results {
  margin-bottom: 20px;
}

.schedule__info,
.schedules__control-bts {
  display: flex;
  align-items: center;
}

.schedules__title-row {
  text-transform: uppercase;
}

.schedules__item,
.schedules__title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #51597b;
}

.schedules__user-name {
  font-weight: 400;
}

.schedules__user-name,
.schedules__day,
.schedules__start,
.schedules__end {
  width: 30%;
}

.schedules__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 30px;
}

.schedules__control-btns {
  display: flex;
}

.schedules__btn {
  display: block;
}

.schedules__btn {
  font-weight: 300;
  background-color: #51597b;
  margin-right: 20px;
  color: #fff;
  padding: 8px 20px;
  border-radius: 6px;
  font-size: .9rem;
  cursor: pointer;
  transition: .2s;
}

.schedules__btn:last-child {
  margin-right: 0;
}

.schedules__btn:hover {
  background-color: #3468af;
}
