doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="/css/main.css")
    block styles
  body 
    .container
      header.header
        nav.header__nav
          ul.header__nav-list
            li.header__nav-item(class=(path === '/' ? 'active-nav' : ''))
              a.header__nav-link(href="/") Home
            li.header__nav-item(class=(path === '/users/new' ? 'active-nav' : ''))
              a.header__nav-link(href="/users/new") Add user
            li.header__nav-item(class=(path === '/schedules/new' ? 'active-nav ' : ''))
              a.header__nav-link(href="/schedules/new") Add schedule
        .header__btns
          if isLoggedIn
            span.header__welcome-msg Hello!
            form(action="/logout", method="POST") 
              button.header__btn(type="submit") Log out
          else
            a.header__btn(href="/login") Log In
            a.header__btn(href="/signup") Sign Up
      .wrapper
        aside.sidebar
          section.section
            h1.main-title Welcome to our schedule website!
            a.intro__btn.user-icon(href="/users") Show Users
            a.intro__btn.calendar-icon(href="/schedules") Show Schedules
          section.section.current-date
            h2.section-title.current-date__title Today is
            -function day() {
              -var date = new Date();
              -var day = date.toLocaleDateString('en', { weekday: 'long', month: 'long', day: 'numeric' });
              -return day;
            -}
            span.current-date__value #{day()}
        block content