extend ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="css/form.css")

block content
  main.main
    section.section.main-section
      h2.section-title Log in
      if errors.length > 0
        ul.errors
          each error in errors
            li.error-msg #{error}
      if successMsg.length > 0
        p.success-msg #{successMsg}
      form.login.form(action="/login" method="POST")
        -var csrfToken = csrfToken
        input(type="hidden" name="_csrf" value=csrfToken)
        label.label(for="email") Enter your email address 
        input#emal.input(type="email" name="email" required)
        label.label(for="password") Password
        input#password.input(type="password" name="password" required)
        input.input(type="submit" value="Login")