extend ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="css/form.css")

block content
  main.main
    section.section.main-section
      h2.section-title Sign up
      form.users-form.form(action="/signup" method="POST")
        label.label(for="email") Enter your email address 
        input.input(type="email" name="email" required)
        label.label(for="password") Password
        input.input(type="password" name="password" required)
        input.input(type="submit" value="Sign up")